$asphalt: #34495e;



body, html {

}

.row {
  max-width: none;
}
h1 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.centered {
  text-align: center;
}

.asphalt {
  background-color: $asphalt;
}

#header_div {
  background-image: url('../images/toast.jpg');
  height: 30rem;
  background-size: cover;
  background-position: center;
  opacity: 0.75;
}