$asphalt: #34495e;
$silver: #bdc3c7;


body, html, h1, h2, h3, h4 {
	font-family: 'Courgette', cursive;
}
h1, h2, h3{
  padding: 2rem;
}

.row {
  max-width: none;
}

.centered {
  text-align: center;
}


.asphalt {
  color: $asphalt;
}
.silver {
  color: $silver;
}



.asphalt_bk {
  background-color: $asphalt;
}
.silver_bk {
  background-color: $silver;
  opacity: 0.6;
}


.icons {
  text-align: center;
}
i {
  font-size: 10em;
   color: $silver;
}



.small-6 {
	padding: 1rem;
/*   margin: 4rem 0 2rem 0; */
  text-align: center;
}

#header_div {
  background-image: url('../images/toast.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

#header_circle {
  background-color: $silver;
  height: 18rem;
  width: 18rem;
  border-radius: 200px;
  margin: 10rem auto 6rem auto;
  text-align: center;
  opacity: 0.6;
  h1 {
    font-size: 3.5rem;
    padding: 4.5rem 0 0 0;
  }
}

#footer_div {
}




@media only screen and (min-width: 64.063em) { 
  .centered {
    h2 {
			color: red;
    }
  }
}




































