$blue: rgba(52, 152, 219,.8);
$silver: #bdc3c7;
$asphalt: rgba(52, 73, 94,1.0);


body, html, h1, h2, h3 {
	font-family: 'Courgette', cursive;
}
h1, h3, h4{
  padding: 2rem;
}
h3 {
  margin: 1rem;
}
.exo {
  font-family: 'Exo', sans-serif;
  font-weight: bold;
}
.exo_normal {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
}

.row {
  max-width: none;
}

.centered {
  text-align: center;
}


.blue {
  color: $blue;
}
.silver {
  color: $silver;
}
.asphalt {
  color: $asphalt;
}



.blue_bk {
  background-color: $blue;
}

.silver_bk {
  background-color: $silver;
}

.pattern {
  padding: 1em;
  background-image: url("../images/otis_redding.png");
  background-repeat: repeat;
  	.pattern_bottom {
      margin-bottom: 3em;
    }
}

#steps_div {
  background-color: rgba(243, 156, 18,.5);
}

.border_white {
  border: 2px dashed white;
}



.icons {
  text-align: center;
}
i {
  font-size: 10em;
   color: $silver;
}

#wait {
  font-size: 4rem;
}


.small-6 {
	padding: 1rem;
/*   margin: 4rem 0 2rem 0; */
  text-align: center;
}

#header_div {
  background-image: url('../images/toast.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

#header_circle {
  background-color: $silver;
  height: 18rem;
  width: 18rem;
  border-radius: 200px;
  margin: 10rem auto 6rem auto;
  text-align: center;
  opacity: 0.8;
  h1 {
    font-size: 3.5rem;
    padding: 4.5rem 0 0 0;
  }
}

#footer_div {
  margin-bottom: 8rem;
}

/* .box {
  border: 1px solid black;
}
 */

#footer_ack {
  margin-top: 4rem;
}




@media only screen and (min-width: 64.063em) { 
  #padding_header {
    padding:	9rem;
  	}
  .bottom {
  	margin-bottom: 6rem;
		}
  .needs {
    margin-top: 4rem;
  	}
  }





































